/*********  GENERAL BODY STYLES  *********/

body {
	background: #000;
}


/*********  CONTAINTER  *********/

.main {
	background: #fff;
	margin: 5em 0;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}


/*********  RYU ANIMATION CONTENT  *********/

.ryu {
	display: float;
	float: left;
}

img {
	width: 659px;
	height: 494px;
}



/*********  GENERAL BODY STYLES  *********/
/*********  GENERAL BODY STYLES  *********/
/*********  GENERAL BODY STYLES  *********/
/*********  GENERAL BODY STYLES  *********/